@model ReservationViewModel

<div>
    <label><strong>Id: </strong></label> <span><strong>@Model.Id</strong></span>
</div>
<div>
    <a asp-controller="Reservations" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Go to reservation</a>
</div>
<div>
    <label>Arrival: </label> <span>@Model.Arrival.ToString("d")</span>
</div>
<div>
    <label>Departure: </label> <span>@Model.Departure.ToString("d")</span>
</div>
<div>
    <label>Total Sum: </label> <span>@Model.TotalSum.ToString("F")</span>
</div>

