@model ReservationViewModel
@{
    ViewData["Title"] = "Reservation " + Model.Id +" Details";
}

<h1>Reservation @Model.Id</h1>

<div>
    <label>Id: </label> <span>@Model.Id</span>
</div>
<div>
    <label>Room Id: </label> <a asp-action="Details" asp-controller="Rooms" asp-route-id="@Model.RoomId">@Model.RoomId</a>
</div>
<div>
    <label>Creator: </label> <span>@Model.Creator.FullName</span>
</div>
<div>
    <label>Arrival: </label> <span>@Model.Arrival.ToShortDateString()</span>
</div>
<div>
    <label>Departure: </label> <span>@Model.Departure.ToShortDateString()</span>
</div>
<div>
    <label>Breakfast Included: </label> <span>@(Model.BreakfastIncluded ? "✔" : "❌")</span>
</div>
<div>
    <label>All Inclusive: </label> <span>@(Model.IsAllInclusive ? "✔" : "❌")</span>
</div>
<div>
    <label>Total Sum: </label> <span>@Model.TotalSum.ToString("F")</span>
</div>

<h3 class="mt-3">Customers:</h3>
<div class="d-flex flex-column">
    @foreach (var item in Model.Customers)
    {
        <div class="mb-2">
            <a asp-action="Details" asp-controller="Customers" asp-route-id="@item.Id">@item.FullName</a>
        </div>
    }
</div>
<a asp-action="Index" asp-controller="Reservations" class="btn btn-info mt-3">
    Back
</a>
