@model ReservationEditViewModel

<h1>Edit</h1>

<div class="container-fluid">
    @using (Html.BeginForm("Edit", "Reservations", FormMethod.Post, new { @class = "" }))
    {
        <input hidden asp-for="Id" />
        <input hidden asp-for="Creator" />
        <input hidden asp-for="CreatorId" />

        <div class="mb-5">
            <label>Arrival</label>
            <div class="input-group date" id="datepicker1">
                <input asp-for="Arrival" type="datetime-local" class="form-control" value="@DateTime.Now.ToString()" />
            </div>
        </div>

        <div class="mb-5">
            <label>Departure</label>
            <div class="input-group date" id="datepicker2">
                <input asp-for="Departure" type="datetime-local" class="form-control" value="@DateTime.Now.ToString()"/>
            </div>
        </div>

        <div class="mb-5">
            <label>Breakfast Included</label>
            @Html.EditorFor(model => model.BreakfastIncluded, new { htmlAttributes = new { @class = "ml-3" } })
        </div>

        <div class="mb-5">
            <label>All Inclusive</label>
            @Html.EditorFor(model => model.IsAllInclusive, new { htmlAttributes = new { @class = "ml-3" } })
        </div>

        <div class="mb-5">
            <label>Customers</label>
            @Html.ListBoxFor(model => model.SelectedCustomerIds, new MultiSelectList(Model.Customers, "Id", "FullName"),
           new { htmlAttributes = new { multiple = "multiple" } })
        </div>

        <div class="mb-5">
            <label>Room</label>
            @Html.DropDownListFor(model => model.RoomId, new SelectList(Model.Rooms, "Id", "RoomNumber"))
        </div>

        <div class="mb-5">
            <label>Total Sum</label>
            @Html.EditorFor(model => model.TotalSum, new { htmlAttributes = new { @class = "ml-3" } })
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
    }
</div>