@model ReservationIndexViewModel

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            @using (Html.BeginForm("Index", "Reservations", FormMethod.Get, new { @class = "navbar-search" }))
            {
                <div class="d-flex flex-wrap">
                    <div class="form-group col-lg-4">
                        <label><strong>Creator</strong></label>
                        <div>
                            @Html.EditorFor(model => model.Filter.CreatorName, new { htmlAttributes = new { placeholder = "Creator Name" } })
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <label><strong>After</strong></label>
                        <div class="input-group date" id="datepicker1">
                            <input asp-for="Filter.AfterDate" type="datetime-local" class="" />
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <label><strong>Before</strong></label>
                        <div class="input-group date" id="datepicker1">
                            <input asp-for="Filter.BeforeDate" type="datetime-local" class="" />
                        </div>
                    </div>

                </div>

                <div class="d-flex flex-wrap">
                    <button class="btn btn-primary mx-2">
                        Filter
                    </button>
                    <div class="mx-2">
                        <a asp-action="Index" asp-controller="Reservations" class="btn btn-info">
                            Reset
                        </a>
                    </div>

                    <div class="float-right mx-2 ml-auto">
                        <a asp-action="Edit" asp-controller="Reservations" class="btn btn-success">
                            Create
                        </a>
                    </div>
                </div>

            }

        </div>

        <div class="card-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="align-middle text-center">Id</th>
                        <th class="align-middle text-center text-nowrap">Room Id</th>
                        <th class="align-middle text-center">Creator</th>
                        <th class="align-middle text-center">Arrival</th>
                        <th class="align-middle text-center">Departure</th>
                        <th class="align-middle text-center text-nowrap">Total Sum</th>
                        <th class="align-middle text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="text-nowrap align-middle text-center">@item.Id</td>
                            <td class="text-nowrap align-middle text-center">
                                <a asp-action="Details" asp-controller="Rooms" asp-route-id="@item.RoomId">@item.RoomId</a>
                            </td>
                            <td class="text-nowrap align-middle text-center">@item.Creator.FullName</td>
                            <td class="text-nowrap align-middle text-center">@item.Arrival.ToShortDateString()</td>
                            <td class="text-nowrap align-middle text-center">@item.Departure.ToShortDateString()</td>
                            <td class="text-nowrap align-middle text-center">@item.TotalSum.ToString("F")</td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center">
                                    <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info m-1">Details</a>
                                    <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1">Edit</a>
                                    <a asp-controller="Reservations" asp-action="MarkAsDone" asp-route-id="@item.Id" class="btn btn-danger m-1">Mark as done</a>
                                    <a asp-controller="Reservations" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap justify-content-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.Pager.Pages; i++)
                {
                    <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                        <a asp-route-Pager.CurrentPage="@i"
                           asp-route-Filter.CreatorName="@Model.Filter.CreatorName"
                           asp-route-Filter.AfterDate="@Model.Filter.AfterDate"
                           asp-route-Filter.BeforeDate="@Model.Filter.BeforeDate"
                           class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>