@model RoomViewModel

@{
    ViewData["Title"] = "Room " + Model.RoomNumber + " Details";
}

<h1>Room @Model.RoomNumber</h1>
<div>
    <div>
        <label>Id: </label> <span>@Model.Id</span>
    </div>
    <div>
        <label>Capacity: </label> <span>@Model.Capacity</span>
    </div>
    <div>
        <label>Type: </label> <span>@Model.Type</span>
    </div>
    <div>
        <label>Available: </label> <span>@(Model.IsAvailable ? "✔" : "❌")</span>
    </div>
    <div>
        <label>Adult Bed Price: </label> <span>@Model.AdultBedPrice.ToString("F")</span>
    </div>
    <div>
        <label>Child Bed Price: </label> <span>@Model.ChildBedPrice.ToString("F")</span>
    </div>

    <h3 class="my-4">Reservations:</h3>
    <div class="d-flex flex-wrap">
        @foreach (var item in Model.Reservations)
        {
            <div class="card mr-auto p-4">
                @await Html.PartialAsync("../Reservations/_ReservationPartialRoom", item)
            </div>
        }
    </div>
    <a asp-action="Index" asp-controller="Rooms" class="btn btn-info mt-3">
        Back
    </a>
</div>

