@model EmployeeIndexViewModel

<h1>Employees</h1>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            @using (Html.BeginForm("Index", "EmployeesAdmin", FormMethod.Get, new { @class = "navbar-search" }))
            {
                <div class="d-flex flex-wrap align-content-around">
                    <div class="form-group mr-auto">
                        @Html.EditorFor(model => model.Filter.Username, new { htmlAttributes = new { placeholder = "Username" } })
                    </div>
                    <div class="form-group mr-auto">
                        @Html.EditorFor(model => model.Filter.FirstName, new { htmlAttributes = new { placeholder = "First Name" } })
                    </div>
                    <div class="form-group mr-auto">
                        @Html.EditorFor(model => model.Filter.MiddleName, new { htmlAttributes = new { placeholder = "Middle Name" } })
                    </div>
                    <div class="form-group mr-auto">
                        @Html.EditorFor(model => model.Filter.LastName, new { htmlAttributes = new { placeholder = "Last Name" } })
                    </div>
                    <div class="form-group mr-auto">
                        @Html.EditorFor(model => model.Filter.Email, new { htmlAttributes = new { placeholder = "Email" } })
                    </div>
                </div>

                <div class="d-flex flex-wrap">
                    <button class="btn btn-primary">
                        Filter
                    </button>
                    <div class="ml-auto">
                        <a href="@Url.Action("Edit", "EmplyeesAdmin")" class="btn btn-success">
                            Create
                        </a>
                    </div>
                </div>
                
            }

        </div>

        <div class="card-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>Reservations</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FullName</td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            @*HACK: putting unicode/hex/html code, html entity and css code does not work with the ternary operator*@
                            <td class="text-center">@(item.IsActive ? "✔" : "❌")</td>
                            <td class="text-center">@item.Reservations.Count()</td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center">
                                    <a href="@Url.Action("Details", "EmployeesAdmin", new { Id = item.Id })" class="btn btn-info m-1">Details</a>
                                    <a href="@Url.Action("Edit", "EmployeesAdmin", new { Id = item.Id })" class="btn btn-primary m-1">Edit</a>
                                    <a href="@Url.Action("Delete", "EmployeesAdmin", new { Id = item.Id })" class="btn btn-danger m-1">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-wrap justify-content-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.Pager.Pages; i++)
                {
                    <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                        <a asp-route-Filter.FirstName="@Model.Filter.FirstName"
                           asp-route-Filter.MiddleName="@Model.Filter.MiddleName"
                           asp-route-Filter.LastName="@Model.Filter.LastName"
                           asp-route-Filter.Username="@Model.Filter.Username"
                           asp-route-Filter.Email="@Model.Filter.Email"
                           asp-route-Pager.CurrentPage="@i"
                           class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>