@model EmployeeEditViewModel

@{
    ViewData["Title"] = Model.FullName + "Update";
}


<div class="container">
    @using (Html.BeginForm("Update", "EmployeesAdmin", FormMethod.Post, new { @class = "" }))
    {
        <input hidden asp-for="Id" />
        <input hidden asp-for="Hired" />
        <input hidden asp-for="IsActive" />
        <input hidden asp-for="Fired" />

        <h2>@Model.FullName</h2>

        <div class="d-flex flex-wrap flex-column mt-5">
            <div class="mb-3">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "First name" } })
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <div class="mb-3">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "Middle name" } })

            </div>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
            <div class="mb-3">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "Last name" } })
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
            <div class="mb-3">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "Email" } })
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="mb-3">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "Password", type = "password" } })
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="mb-3">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "Phone number" } })
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            <div class="mb-3">
                @Html.EditorFor(model => model.EGN, new { htmlAttributes = new { @class = "col-md-4 px-2", placeholder = "EGN" } })
            </div>
            <span asp-validation-for="EGN" class="text-danger"></span>

        </div>

        <div class="d-flex flex-wrap flex-column">
            <button type="submit" class="btn btn-primary col-md-4 mb-2">
                Update
            </button>
            <a asp-action="Index" asp-controller="EmployeesAdmin" class="btn btn-info col-md-1">
                Back
            </a>
        </div>

    }
</div>